body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.15);
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: blur(12px);
    box-shadow: 0 8px 32px rgba(0,0,0,0.25);
    color: white;
    width: 320px;
    max-width: 90%;
}


h1 {
    margin-bottom: 10px;
}


.search-box {
    margin: 20px 0;
}


input {
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    width: 180px;
    max-width: 80%;
    margin-bottom: 10px;
}


button {
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    background: #ffffff;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
    margin: 5px;
}


button:hover {
    background: #ddd;
    transform: scale(1.05);
}


.card {
    margin-top: 20px;
    padding: 20px;
    border-radius: 15px;
    background: rgba(255,255,255,0.25);
    font-size: 18px;
    transition: 0.3s;
}


.card:hover {
    transform: translateY(-5px);
}

@media (max-width: 500px) {
    .container {
        width: 90%;
        padding: 20px;
    }

    input {
        width: 100%;
    }

    button {
        width: 100%;
    }
}
